.icon {
	width: 25px;
	height: 25px;
	padding: 0px;
	margin: 0px;
	transition: all ease-in-out 0.5s;
}

.icon.light {
	color: black;
}

.icon.dark {
	color: white;
}

.iconContainer {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.button {
	background-color: transparent;
	border: 1px solid transparent;
	cursor: pointer;
}

.themeSelector {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4rem;
}
