.header {
	width: 100%;
}

.wrapper {
	width: calc(100% - 5rem);
	padding: 2.5rem;
	border-radius: 15px;
	transition: all ease-in-out 0.5s;
}

.wrapper.light {
	background-color: var(--color-white);
	color: black;
	box-shadow: var(--shadow-box);
}

.wrapper.dark {
	background-color: var(--color-dark-desaturated-blue);
	color: white;
}

.avatar {
	width: 20%;
}

.avatar img {
	width: 100%;
	border-radius: 50%;
}

.userAvatar {
	display: flex;
	justify-content: space-between;
	gap: 1.5rem;
	margin-bottom: 2rem;
}

.userName {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	width: 70%;
}

.userName span {
	width: 100%;
}

.nameContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.name {
	font-size: 1.7rem;
}

.nickName {
	color: var(--color-blue);
}

.info {
	display: flex;
	flex-direction: column;
}

.bio {
	margin-bottom: 2rem;
	width: 65%;
	padding: 1rem;
	margin-top: -50px;
	margin-left: 30%;
}

.joined {
	text-align: right;
}

.counters {
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	border-radius: 15px;
	margin-bottom: 2rem;

	width: 60%;
	margin-left: 30%;
	transition: all ease-in-out 0.5s;
}

.counters.light {
	background-color: var(--color-saturated-white);
}

.counters.dark {
	background-color: var(--color-very-dark-blue);
}

.counter {
	display: flex;
	flex-direction: column;
}

.couterTitle {
	font-size: 1rem;
	font-weight: 400;
}

.couterNumber {
	font-size: 1.5rem;
	font-weight: 700;
}

.links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-radius: 15px;

	width: 70%;
	margin-left: 30%;
}

.link {
	width: 40%;
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem;
}

.icon {
	width: 25px;
	height: 25px;
}

@media only screen and (max-width: 595px) {
	.wrapper {
		width: calc(100% - 2rem);
		padding: 1rem;
	}
	.userName {
		flex-direction: column;
	}

	.name {
		font-size: 1rem;
	}

	.nameContainer {
		width: 100%;
	}

	.joined {
		text-align: left;
		font-size: 1rem;
	}

	.bio {
		margin-top: 0px;
		margin-left: 0px;
		width: calc(100% - 2rem);
	}

	.counters {
		width: calc(100% - 4rem);
		margin-left: 0;
	}

	.couterTitle {
		font-size: 0.7rem;
	}

	.couterNumber {
		font-size: 1.2rem;
	}

	.links {
		width: 100%;
		margin-left: 0;
	}

	.link {
		width: 100%;
	}
}
